<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>

      <h3>
         Users Infomation
      </h3>

      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}

      <h3>Users <a href="{{ url_for('add_user') }}">Add New User</a></h3>

      <table border="1">
         <thead>
            <tr>
               <th>User ID</th>
               <th>User Name</th>
               <th>User Point</th>
               <th>Created</th>
               <th>Permission</th>
            </tr>
         </thead>

         <tbody>
            {% for user in users %}
               <tr>
                  <td>{{ user.user_id }}</td>
                  <td>{{ user.user_name }}</td>
                  <td>{{ user.point }}</td>
                  <td>{{ user.created }}</td>
                  <td>{{ user.permission }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>

   </body>
</html>